<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!--Blocks-->
      <div class="row" id="dashboard-all-monitor">
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="a-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">A Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" data-toggle="tooltip" id="AG01">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">
                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG01</h6>
                                Central Administration</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG19">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG19</h6>
                                Thinkubator</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG21</h6>
                                Dean's Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AF02</h6>
                                Central Program, Marketing, HR, PGDM Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AS01</h6>
                                Central Admissions</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AT01 & 02</h6>
                                Meditation Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Dome 1</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Dome 2</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Dome 3</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 1</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 2</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AS07">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Placom</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="b-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">B Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">GYAN</h6>
                                  Auditorium</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 4</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Alumni Office</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 5</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 6</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 7</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Computer Centre</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">PGDM</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 8</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Third Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 9</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 10</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 11</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">GMP</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">FPR</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="c-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">C Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">GYAN</h6>
                                  Auditorium</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 4</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Alumni Office</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 5</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 6</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 7</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Computer Centre</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">PGDM</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 8</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Third Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 9</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 10</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 11</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">GMP</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">FPR</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="d-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">D Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">GYAN</h6>
                                  Auditorium</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 4</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Alumni Office</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 5</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 6</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 7</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Computer Centre</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">PGDM</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 8</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Third Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 9</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 10</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">NCR 11</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">GMP</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Faculty Cabins</h6>
                                </p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0">
                              <div>
                                <img
                                  src=""
                                  class="avatar avatar-sm me-3 p-2">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">FPR</h6>
                                Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>