<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!--Blocks-->
      <div class="row" id="dashboard-all-monitor">
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="a-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">A Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" data-toggle="tooltip" id="AG01" target="_blank" href="https://drive.google.com/file/d/1KyZu_UPWu6DX-yP6fQGZq1XsHkETwDSF/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/ag01.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">
                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG01</h6>
                                Central Administration, Communications, Finance & Accounts</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG05" target="_blank" href="https://drive.google.com/file/d/1yXXB_jIigcv1w46YrJdkMWy66-Psbciy/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/mr12.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG05</h6>
                                MR 1&2</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG19" target="_blank" href="https://drive.google.com/file/d/12c4tgLB2QKONEu-PHxU-xNHBy2ROo4NM/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/ag19.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG19</h6>
                                Thinkubator</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG21" target="_blank" href="https://drive.google.com/file/d/1K6cEgJWHzeZDss3nZT0m2On_19Hx-xIk/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG21</h6>
                                Dean's Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG07">
                              <div>
                                <img
                                  src="img/rooms/ag07.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG07</h6>
                                Central Procurement, Examination, SoS & Docc Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG09">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG09</h6>
                                Faculty Cabins & Meeting Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG11">
                              <div>
                                <img
                                  src="img/rooms/ac1.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG11</h6>
                                AC1 and AC2</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG12">
                              <div>
                                <img
                                  src="img/rooms/ac1.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG12</h6>
                                Career services</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG13">
                              <div>
                                <img
                                  src="img/rooms/ac1.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG13</h6>
                                Medical Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG18">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG18</h6>
                                Utility Room & Store Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG20">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG20</h6>
                                DCR</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AG22" target="_blank" href="https://drive.google.com/file/d/1oNMjNqgz4BXhJbUvE8K9ESlI1slz6zun/view">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AG22</h6>
                                MR3 & MR4</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AF02" target="_blank" href="https://drive.google.com/file/d/14frg1AgrL8kPLMTjMKnYhMiaT17tHIz-/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AF02</h6>
                                Central Program, Marketing, HR, PGDM Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AS01">
                              <div>
                                <img
                                  src="img/rooms/as01.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AS01</h6>
                                Central Admissions</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AS03" target="_blank" href="https://drive.google.com/file/d/1QRiOo8NykgLJ4aBljFVLorJGMr-VibTp/view?usp=drive_link">
                              <div>
                                <img
                                  src="img/rooms/dome1.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AS03</h6>
                                Dome 1</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AS02" target="_blank" href="https://drive.google.com/file/d/1m9yMMcBLfY48BJklD9qdNk1YM-CrwiI2/view?usp=drive_link">
                              <div>
                                <img
                                  src="img/rooms/dome2.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AS02</h6>
                                Dome 2</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AT03" target="_blank" href="https://drive.google.com/file/d/1u3TJgneEJKOK5hoP7QFzgPabiVwlAwrq/view?usp=drive_link">
                              <div>
                                <img
                                  src="img/rooms/dome3.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AT03</h6>
                                Dome 3</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AS05" target="_blank" href="https://drive.google.com/file/d/1FMQJOwTKIIvQkVAH4MGB5cRzliGxtFiD/view?usp=drive_link">
                              <div>
                                <img
                                  src="img/rooms/placom.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AS05</h6>
                                NCR 1</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AS06" target="_blank" href="https://drive.google.com/file/d/1rNPIAMWOVWfkowj4j5iZMArhCEmct8d_/view?usp=drive_link">
                              <div>
                                <img
                                  src="img/rooms/placom.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AS06</h6>
                                NCR 2</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AS07">
                              <div>
                                <img
                                  src="img/rooms/placom.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AS07</h6>
                                Placom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="AT01">
                              <div>
                                <img
                                  src="img/rooms/medita.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">AT01</h6>
                                Meditation Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="b-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">B Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="GYAN">
                              <div>
                                <img
                                  src="img/rooms/gyan.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">GYAN</h6>
                                Gyan Auditorium</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="BG02">
                              <div>
                                <img
                                  src="img/rooms/ncr4.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">BG02</h6>
                                NCR 4</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="BG06">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">BG06</h6>
                                Alumini Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="BG05">
                              <div>
                                <img
                                  src="img/rooms/bg05.jpg"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">BG05</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="BG07">
                              <div>
                                <img
                                  src="img/rooms/bg05.jpg"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">BG07</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B101">
                              <div>
                                <img
                                  src="img/rooms/ncr5.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B101</h6>
                                NCR 5</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B104">
                              <div>
                                <img
                                  src="img/rooms/ncr6.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B104</h6>
                                NCR 6</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B107">
                              <div>
                                <img
                                  src="img/rooms/ncr7.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B107</h6>
                                NCR 7</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B105">
                              <div>
                                <img
                                  src="img/rooms/computer.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B105</h6>
                                Computer Centre</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B106">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B106</h6>
                                PGPDM Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B108">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B108</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B201">
                              <div>
                                <img
                                  src="img/rooms/ncr8.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B201</h6>
                                NCR 8</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B204">
                              <div>
                                <img
                                  src="img/rooms/b204.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B204</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B205">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B205</h6>
                                RA Workstation</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Third Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B301">
                              <div>
                                <img
                                  src="img/rooms/ncr9.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B301</h6>
                                NCR 9</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B30503">
                              <div>
                                <img
                                  src="img/rooms/ncr10.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B30503</h6>
                                NCR 10</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B30506">
                              <div>
                                <img
                                  src="img/rooms/ncr11.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B30506</h6>
                                NCR 11</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B30501">
                              <div>
                                <img
                                  src="img/rooms/fpr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B30501</h6>
                                GMP Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B30504">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B30504</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B306">
                              <div>
                                <img
                                  src="img/rooms/fpr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B306</h6>
                                FPR Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B30505">
                              <div>
                                <img
                                  src="img/rooms/ncr11.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B30505</h6>
                                FPR Participants Workstation</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Fourth Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B401">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B401</h6>
                                Staff Lunch Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B404">
                              <div>
                                <img
                                  src="img/rooms/cfi.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B404</h6>
                                CFI Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B40402">
                              <div>
                                <img
                                  src="img/rooms/cfi.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B40402</h6>
                                Edison Lab</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B40402A">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B40402A</h6>
                                Eureka Chamber</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B40403">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B40403</h6>
                                FPR Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B40404" target="_blank" href="https://drive.google.com/file/d/1u_YeNlBF3vNH9xSewN6ciqoANIwpwYN4/view">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B40404</h6>
                                NCR 12</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="B40406">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">B40406</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="c-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">C Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="CG" target="_blank" href="https://drive.google.com/file/d/168W49nQmdqFnpuc8rMPxkiyU5GS-dTUM/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/mls.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">CG</h6>
                                MLS Auditorium</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="CG02" target="_blank" href="https://drive.google.com/file/d/1W41HfPIM2e_jDwBS4cvM8fg4PbPjK8gc/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">CG02</h6>
                                Stilt Area</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C101">
                              <div>
                                <img
                                  src="img/rooms/c101.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C101</h6>
                                Computer Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C108">
                              <div>
                                <img
                                  src="img/rooms/gwr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C108</h6>
                                Group Work Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C20207">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C20207</h6>
                                Meeting Rooms</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C208" target="_blank" href="https://drive.google.com/file/d/15sFTqEfoyQac_t-f-aP8wOBkMV6jvG-f/view">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C208</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C209" target="_blank" href="https://drive.google.com/file/d/1ZKHai7UeYRTljHIaDo8e_a5sQPPjmqPQ/view">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C209</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C210" target="_blank" href="https://drive.google.com/file/d/1tj-wZmMP5uCoRRvZ6p964D5YjPK9TcDi/view">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C210</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C211" target="_blank" href="https://drive.google.com/file/d/1ENqDBLDhbc1fqk-y8gH0EoMg0nYA8ww5/view">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C211</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Third Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C302">
                              <div>
                                <img
                                  src="img/rooms/c301.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C302</h6>
                                PGPM,PGMPW,PGDM Online and PGPGM Programme Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C305">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C305</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C308">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C308</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C309">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C309</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C310">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C310</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C307">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C307</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Fourth Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C401">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C401</h6>
                                Refuge Area</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C402">
                              <div>
                                <img
                                  src="img/rooms/cfb.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C402</h6>
                                CFBE Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C408">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C408</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C409">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C409</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C410">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C410</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C407">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C407</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Fifth Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C503">
                              <div>
                                <img
                                  src="img/rooms/comp lab.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C503</h6>
                                Computer Lab</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C505">
                              <div>
                                <img
                                  src="img/rooms/design lab.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C505</h6>
                                Design Thinking Lab</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C506">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C506</h6>
                                Meeting room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C508">
                              <div>
                                <img
                                  src="img/rooms/simulation lab.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C508</h6>
                                Simulation Lab</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Sixth Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C601">
                              <div>
                                <img
                                  src="img/rooms/c601.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C601</h6>
                                PGEMP Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C602">
                              <div>
                                <img
                                  src="img/rooms/c601.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C602</h6>
                                PGEMP Small Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C605">
                              <div>
                                <img
                                  src="img/rooms/c601.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C605</h6>
                                PGEMP Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C606">
                              <div>
                                <img
                                  src="img/rooms/c601.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C606</h6>
                                PGEMP Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C608">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C608</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="C611">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">C611</h6>
                                Meeting Rooms</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 mb-5">
          <div class="monitor" data-toggle="tooltip" data-original-title="Click to monitor" id="d-block">
            <div class="card card-stats mt-2 mb-4 mb-xl-0">
              <div class="py-1 pb-1 px-2 pl-2 card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase mb-0">D Block</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table align-items-center mb-0 p-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Ground Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="DG" target="_blank" href="https://drive.google.com/file/d/1UPLxqZrYaUNlahcLKadQeALRYBt9k-LA/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">DG</h6>
                                Xerox Center</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="DG02" target="_blank" href="https://drive.google.com/file/d/1grj9zRx2XT8VtQzajzSwSKU7NDVz9mfX/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/bistro.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">Bistro</h6>
                                Bistro</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="LIB" target="_blank" href="https://drive.google.com/file/d/1mlmURI7ELoPk-bS5B5-41qMDSlAGQdgT/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/library.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">LIB</h6>
                                Library</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">First Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D102" target="_blank" href="https://drive.google.com/file/d/19VO_unHywU6HS7uj-RY7yYBrTCI99s_d/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/reading.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D102</h6>
                                Reading Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Second Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D204" target="_blank" href="https://drive.google.com/file/d/1y_2_STH3yIHygsvMWyEWcmZZjxyPYDcN/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/d204.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D204</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D2" target="_blank" href="https://drive.google.com/file/d/1d8aeQAQhENGS0vtFnas0sDClVMVRtIF8/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/25.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D2</h6>
                                Bistro 2.5</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Third Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D304" target="_blank" href="https://drive.google.com/file/d/1QNh93tzt5I4lReaOGNXnuuRD3TcrQMbR/view">
                              <div>
                                <img
                                  src="img/rooms/d204.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D304</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Fourth Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D4" target="_blank" href="https://drive.google.com/file/d/1Q9WCxoLwHQHgkJ9Vz02gak3olZaBNn53/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D4</h6>
                                Refuge Area</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D404" target="_blank" href="https://drive.google.com/file/d/1DobpmUQcCx9TGMSpFQuzqd3aYynlYLI9/view">
                              <div>
                                <img
                                  src="img/rooms/d204.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D404</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Fifth Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D502">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D502</h6>
                                Meeting room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D503" target="_blank" href="https://drive.google.com/file/d/1g9D3xMV6aSA9BdscIDk3TFg7Un2EtH97/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/d503.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D503</h6>
                                MDP Program Office</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D504">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D504</h6>
                                Classroom</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D50301">
                              <div>
                                <img
                                  src="img/rooms/spjimr.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D50301</h6>
                                Faculty Cabins</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                      <thead>
                        <tr>
                          <th class="text-uppercase text-dark text-xxs font-weight-bolder opacity-7 p-0">Sixth Floor
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="p-1">
                            <a class="d-flex p-0" id="D603" target="_blank" href="https://drive.google.com/file/d/1DfNKjcPsu0sP3BdoeStHJ6H4lvXSXcHY/view?usp=sharing">
                              <div>
                                <img
                                  src="img/rooms/d603.png"
                                  class="avatar me-3">
                              </div>
                              <div class="d-flex flex-column justify-content-center  pl-2 px-2">

                                <p class="text-xs mb-0">
                                <h6 class="mb-0 text-xs">D603</h6>
                                Executive Lunch Room</p>
                              </div>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>




                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>