<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <div class="row">

    </div>
      <div class="col-xl-5 col-lg-5 col-mb-5">
        <span class="h2 mb-0 text-white text-uppercase d-lg-inline-block">
          Campus Map
        </span>
      </div>
      <!-- Search Form -->
      <div class="col-xl-5 col-lg-5 col-mb-5">
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search Room" type="text" id="searchInput">
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-2 col-lg-2 mb-2">
        <picture style="float: right;" class="mb-0 d-none d-lg-inline-block">
          <img src="img/icons/common/logo.png" alt="SPJIMR" class="navbar-brand-img">
        </picture>
      </div>
    
    
  </div>
</nav>
